In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [153]:
url = 'https://collectionapi.metmuseum.org/public/collection/v1/search?q='
IDs = 'sunflowers'
r = requests.get(url+IDs)
res = r.json()
sunflower_ids = res['objectIDs']

In [19]:
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/')
obj_test = r_test.json()

In [196]:
df = pd.DataFrame()

In [236]:
df1 = pd.DataFrame()

In [212]:
b = f'https://collectionapi.metmuseum.org/public/collection/v1/objects/'
d = '707887'

In [71]:
n = requests.get(b + d)
f = n.json()

In [105]:
cf = pd.DataFrame.from_dict(pd.json_normalize(c), orient='columns')

In [106]:
cd = pd.DataFrame.from_dict(pd.json_normalize(f), orient='columns')

In [107]:
cf = cf.append(cd)

In [197]:
for i in sunflower_ids:
    n = requests.get(b + str(i))
    f = n.json()
    cd = pd.DataFrame.from_dict(pd.json_normalize(f), orient='columns')
    df = df.append(cd)

In [199]:
df = df[['objectID', 'title', 'artistDisplayName', 'department', 'objectBeginDate', 'objectEndDate', 'period', 'objectName', 'culture']]

In [200]:
df

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,436524.0,Sunflowers,Vincent van Gogh,European Paintings,1887.0,1887.0,,Painting,
0,484935.0,Sunflowers,Edward McKnight Kauffer,Modern and Contemporary Art,1921.0,1921.0,,Painting,
0,437112.0,Bouquet of Sunflowers,Claude Monet,European Paintings,1881.0,1881.0,,Painting,
0,210191.0,Vase with sunflowers,Rozenburg Plateelfabriek,European Sculpture and Decorative Arts,1896.0,1896.0,,Vase,
0,431264.0,Sunflowers,Lily Converse,Drawings and Prints,1941.0,1941.0,,Print,
...,...,...,...,...,...,...,...,...,...
0,724844.0,Design for Embroidery with Two Large Garlands ...,Italian School,Drawings and Prints,1845.0,1905.0,,Drawing Ornament & Architecture,
0,437980.0,Cypresses,Vincent van Gogh,European Paintings,1889.0,1889.0,,Painting,
0,834585.0,"A Life in a Year–The Garden–Noon, from ""Pictur...",Arthur Boyd Houghton,Drawings and Prints,1866.0,1874.0,,Print,
0,834580.0,"A Life in a Year–The Garden–Noon, from ""Pictur...",Arthur Boyd Houghton,Drawings and Prints,1866.0,1874.0,,Print,
0,834765.0,"A Child's Garden, from ""Picture Poesies""",Arthur Boyd Houghton,Drawings and Prints,1865.0,1874.0,,Print,

In [202]:
df.query("culture == 'Japan'")

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,57922.0,Incense box,,Asian Art,1700.0,1799.0,Edo period (1615–1868),Incense box,Japan

In [203]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
cats = r.json()

In [229]:
cat_ids = cats['objectIDs']

In [237]:
e = 0

In [238]:
for i in cat_ids:
    if e != 1000:
        n = requests.get(b + str(i))
        f = n.json()
        cf = pd.DataFrame.from_dict(pd.json_normalize(f), orient='columns')
        df1 = df1.append(cf)
        e = e + 1

In [239]:
df1.period.value_counts()

Edo period (1615–1868)                                             444
                                                                   108
Qing dynasty (1644–1911)                                            62
Ming dynasty (1368–1644)                                            36
Muromachi period (1392–1573)                                        30
                                                                  ...
Momoyama (1573–1615) or Edo (1615–1868) period                       1
Early Malla period, dated the month of Phalguna (likely) 443 NS      1
Sukhothai or Lan Na style                                            1
Shang dynasty (ca. 1500–1046 B.C.)                                   1
Muromachi (1392–1573)–Edo period (1615–1868)                         1
Name: period, Length: 111, dtype: int64