In [6]:
from io import BytesIO
import requests
import pandas as pd
import numpy as np

req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df = pd.read_csv(BytesIO(data))

In [12]:
df

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

In [11]:
df['percent'] = ((df['users'] / df['users'].sum())*100).round(0)

In [15]:
df1 = pd.read_csv('7_browser.csv')

In [17]:
df1['chrome_robots'] =

In [29]:
df1.head()

         date         browser user_type  users  chrome_robots
0  2020-06-14   Google Chrome    People    139              0
1  2020-06-14   Chrome Mobile    People     35              0
2  2020-06-14   Google Chrome    Robots     28              1
3  2020-06-14  Yandex Browser    People     22              0
4  2020-06-14         Firefox    People     15              0

In [28]:
df1['chrome_robots'] = pd.Series(np.where((df1.browser.str.contains('Chrome')) & (df1.user_type.str.contains('Robots')), 1, 0))

In [30]:
df2 = pd.read_csv('https://stepik.org/media/attachments/lesson/361619/sample_ads.csv')

In [38]:
df2.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [39]:
not_nan_count = df2.click_type.notna().sum()

In [54]:
lst = [0, 1, 2, 3, 'Hello', 'OMFG', 4, 2]

In [55]:
new_list = []

In [58]:
for i in lst:
    try:
        new_list.append(int(i))
    except:
        continue

In [59]:
new_list

[0, 1, 2, 3, 4, 2]

In [60]:
5720144602:AAFF7CWgmzPwmD1KgaTjmSR2opWUuMfd-AU

SyntaxError: illegal target for annotation (<ipython-input-60-8f8f1d4e143f>, line 1)

In [63]:
import requests
import json
from urllib.parse import urlencode


token = '5720144602:AAFF7CWgmzPwmD1KgaTjmSR2opWUuMfd-AU'
chat_id = 399191508  # your chat id

message = 'go sun heven'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot5720144602:AAFF7CWgmzPwmD1KgaTjmSR2opWUuMfd-AU/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)